.idea/
.vscode/
venv/
__pycache__/


# Ignore all pycache directories and files everywhere in the repo
**/__pycache__/
**/*.py[cod]
**/*$py.class

.DS_Store
src/.DS_Store
src/AutoCatLab/.DS_Store.DS_Store
