ase>=3.22.0
pymatgen>=2023.12.18
mp-api>=0.43.0
click>=8.1.7
rich>=13.7.0
sqlalchemy>=2.0.25
sympy~=1.14.0
AutoCatLab~=0.1.0
pandas~=2.2.3
numpy~=1.26.4
spglib~=2.6.0
PyYAML~=6.0.2
mendeleev~=1.0.0
scipy~=1.15.3
CatKit~=0.5.4
setuptools~=65.5.0